<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*
        @Scripts.Render("~/bundles/angularScripts")
        @Scripts.Render("~/bundles/angularApp")
    *@
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-messages.js"></script>
    <script src="~/Scripts/app/appModule.js"></script>
    <script src="~/Scripts/app/taxiFareRateService.js"></script>
    <script src="~/Scripts/app/customValidator.js"></script>
    <script src="~/Scripts/app/taxiFareRateController.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TaxiCab Fare Rate Calculator</p>
        </footer>
    </div>
</body>
</html>
